body {}
#phone {}
#phone #pay {
    width: 1100px; margin: 50px auto 0;
    background-color: #eee;
}
#phone #pay th,
#phone #pay td {padding: 20px;}
#phone #pay thead {
    border: 2px solid black;
    border-left: 0;
    border-right: 0;
}
#phone #pay thead tr {}
#phone #pay thead tr:nth-child(1) {border-bottom: 1px dotted black;}
#phone #pay thead tr th {}
#phone #pay thead tr th:nth-child(1) ~ th {width: 160px;}
#phone #pay thead tr th img {width: 70px;}
#phone #pay thead tr th span {
    display: block;
    color: #666;
    font-size: 0.8rem;
    margin-top: 6px;
}
#phone #pay tbody {} 
#phone #pay tbody tr {
    text-align: center;
    border-bottom: 1px solid black;
    background-color: #ddd;
    height: 50px;
} 
#phone #pay tbody tr th {}
#phone #pay tbody tr td {width: 200px; text-align: center;}